<div class="container" *ngFor="let faq of faqsService.listFaqs.faqs; let i = index;">
    <div class="panel-group" [attr.id]="'accordion_' + i" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading p-3" role="tab" [attr.id]="'accordion_' + i">
                <a class="collapsed row" role="button" title="" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i" aria-expanded="" aria-controls="collapse0">
                    <div class="panel-title col-md-1">
                        <p class="id">
                            Q{{faq.id}}
                        </p> 
                    </div>
                    <div class="panel-title col-md-10">
                        <p class="title">
                            {{faq.question}} 
                        </p>
                    </div>
                    <div class="panel-title col-md-1">
                        <div class="y-box float-right">
                            <svg class="svg-rotate__icon y-icon" viewBox="0 0 357 357">
                                <g id="add">
                                    <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/>
                                </g>
                            </svg>
                        </div>				  
                    </div>
                </a>			  
            </div>
            <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                <div class="panel-body px-3 mb-4">
                    <p class="answer">
                        {{faq.answer}}
                    </p>	  
                </div>
            </div>
        </div>
    </div>
    <div class="small-bar"></div>
 </div>