@font-face {
    font-family: "oswald-light";
    src: url("/../../assets/oswald-light.ttf") format('truetype');    
}
@font-face {
    font-family: "oswald-bold";
    src: url("/../../assets/oswald-bold.ttf") format('truetype');
}
@font-face {
    font-family: "oswald-regular";
    src: url("/../../assets/oswald-regular.ttf") format('truetype');
}
h3 {
    font-family: "Oswald";
    font-weight: 800;
    font-size: 2.5rem;
    color: #000000; 
    text-transform: uppercase;
}
h2 {
    font-family: "oswald-bold";
    font-weight: 800;
    font-size: 2.5rem;
    color: #000000;
}
.id {
    font-family: "oswald-bold";
    font-size: 2.3rem;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
}
.title {
    font-family: "oswald-regular";
    font-size: 1.3rem;
    color: #000000;
    margin-top: 15px; 
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 30px;
}
.answer {
    font-family: "oswald-regular";
    font-size: 1.3rem;
    color: #000000;
    margin-top: 5px; 
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 10px;
}

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #FFFFFF;   
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
    text-decoration: none;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: "oswald-bold";
    font-style: normal;
    font-size: 3rem;
    color: #000000;
    float: right;
    margin-top: -12px;    
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    font-family: "oswald-bold";        
}
a[aria-expanded="true"]{
    background-color: #A7A7A8;
    text-decoration: none;
    margin-top: 15px;
}
a[aria-expanded="true"] .svg-rotate__icon {
    transform: rotate(45deg);
    transition: all 0.3s ease;
}
a {
    text-decoration-line: none !important;
    align-items: center; 
      
}
.big-bar {
    height: 30px;
    width: 100%;
    background-color: black;
    margin-top: 28px;    
}
.small-bar {
    height: 5px;
    width: 100%;
    background-color: black;
    
}
.y-box {
    background-color: #FDD22E;
    width: 60px;
    height: 60px;    
}
.y-icon {
    background-color: #FDD22E;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 18%;
    margin-left: 18%;
    width: 40px;
    height: 40px;
}